html, body {
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #064646;
}
noscript + section#map {
  display: none;
}
br + noscript + section#map {
  display: block;
}
body > br {
  display: none;
}
noscript > nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
}
section {
  min-height: 100%;
}
section#map {
  display: block;
}
section#map {
  position: relative;
  overflow: hidden;
}
/* the best way to have a cross platform
  box-flex like container ? this one since HTML4 */
section#map > * {
  position: absolute;
  right: 0;
  left: 0;
}
section#map header {
  top: 0;
  height: 48px;
  background-color: #198A8A;
  border-top: 8px solid #286868;
  border-bottom: 8px solid #286868;
  text-align: center;
  color: #FFF;
  padding-left: 2px;
}
section#map > div.map {
  top: 64px;
  bottom: 206px;
}
section#map > div.location {
  border-top: 8px solid #198A8A;
  background: #FFF;
  height: 150px;
  bottom: 48px;
  text-align: center;
}
section#map > div.details {
  z-index: 9999;
  opacity: 0;
  height: 0;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}
section#map > div.details > div {
  max-width: 720px;
  margin: auto;
}
section#map > div.details > div > * {
  margin: 8px;
}
section#map > div.details > div > div.minimap {
  height: 80px;
}
section#map > div.details > div > h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #198A8A;
}
section#map > div.details > div > h3 > i {
  color: #286868;
}
section#map > div.details > div > ul,
section#map > div.details > div > ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
}
section#map > div.details > div > ul > li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  margin: 2px 8px;
  color: #064646;
}
section#map > div.location > ul {
  display: inline-block;
  margin: auto;
}
section#map > div.location > ul,
section#map > div.location > ul > li {
  padding: 0;
  list-style: none;
}
section#map > div.location > ul > li {
  display: inline-block;
  float: left;
  text-align: left;
  width: 260px;
  font-size: 13px;
  line-height: 18px;
  margin-left: 16px;
  
  cursor: pointer;
}
section#map > div.location > ul > li > h3 {
  margin: 8px 0 0 8px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
section#map > div.location > ul > li > p {
  margin: 8px 0 0 8px;
  color: #064646;
}
section#map > div.location > ul > li > h3 > span {
  float: right;
  margin-left: -100px;
  font-size: 12px;
  color: #198A8A;
}

section#map > div.location > ul > li.intro,
section#map > div.location > ul > li.stats {
  display: none;
  margin: auto;
  padding: 0;
}
section#map > div.location > ul > li.intro > ul {
  margin: 8px 0 0 0;
  padding: 0;
}
section#map > div.location > ul > li.selected {
  background-color: #F5F5F5;
}
section#map > div.location > ul > li.selected + li {
  margin-left: -8px;
  border-left: 8px solid #F5F5F5;
}
section#map > footer {
  background-color: #064646;
  height: 48px;
  bottom: 0;
}
section#map header > div > * {
  float: left;
  margin-top: 2px;
}
section#map header h1,
section#map header h2 {
  font-size: 14px;
  margin: 0;
}
section#map header h1 {
  margin-top: 12px;
  margin-left: -8px;
}
section#map header h2 {
  font-weight: 200;
  font-style: italic;
  margin-top: 29px;
  margin-left: -33px;
}
div.central {
  max-width: 720px;
  text-align: left;
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
}
button#find-me,
select[name=category] {
  z-index: 9999;
  font-size: 16px;
  text-align: center;
  background: #FFF !important;
  box-shadow: none !important;
  opacity: 0.8 !important;
  border-radius: 8px !important;
  border: 4px solid #888 !important;
}
button#find-me {
  top: 153px;
  left: 10px;
  right: auto;
  padding: 0;
  width: 38px;
  height: 38px;
}
section#map > select[name=category] {
  -webkit-appearance: none;
  -khtml-appearance: none;
  -blink-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  top: 73px;
  right: 10px;
  left: auto;
  line-height: 26px;
  padding: 0 2px;
}
nav {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}
nav,
nav a {
  border-top: 8px solid #198A8A;
}

nav li.selected a {
  border-top: 8px solid #E6A72A;
}
nav li.selected .fa:first-child {
  color: #FFF;
}
nav li .fa:last-child {
  opacity: 0;
  margin-left: 0;
}
nav li.selected .fa:last-child {
  opacity: 1;
  margin-left: 4px;
}
nav a,
nav a:visited {
  color: #E6A72A;
  background-color: #064646;
  text-decoration: none;
  display: block;
  height: 40px;
  line-height: 32px;
  width: 100%;
  margin-top: -8px;
}
nav a,
nav > ul,
nav > ul > li {
  list-style: none;
  padding: 0;
}
nav > ul {
  max-width: 720px;
  margin: 0 auto;
}
nav > ul > li {
  float: left;
  width: 33%;
}
nav > ul > li:nth-child(2) {
  width: 34%;
}

section#about > nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

section#about > nav + div {
  margin-top: 48px;
}

section#about > div,
section#contact > div,
section#pin-it > div{
  border-top: 8px dotted #286868;
  color: #FFF;
  font-size: 16px;
  margin-bottom: 8px;
  padding-top: 16px;
}
li.button {
  position: relative;
  left: 20px;
}
li.button > i,
li.button > img {
  position: absolute;
  left: -20px;
}
li.button > a,
li.button > a:visited {
  position: relative;
  left: 0;
  display: inline-block;
  text-decoration: none;
  background: #EEEEEE;
  color: #286868;
  width: 200px;
  padding: 2px;
}
li.button > a.social {
  position: absolute;
  left: auto;
  right: 16px;
  width: 32px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}
li.button > a.social,
li.button > a.social img {
  text-decoration: none;
  border: 0;
}








/* map should be usable, the header is secondary,
    here a simple way to show more content */
@media all and (max-height: 500px) {
  section#map > header {
    display: none;
  }
  section#map .logo {
    position: fixed;
    left: auto;
    top: 52px;
    right: 8px;
    z-index: 1;
  }
  #category {
    top: 12px;
  }
  #locate {
    top: 96px
  }
  section#map > div.map {
    top: 0;
  }
  button#find-me {
    top: 88px;
  }
  section#map > select[name=category] {
    top: 8px;
  }
}
/* some phone screen is just too damn small */
@media all and (max-height: 350px) {
  div.minimap {
    display: none;
  }
}