* {
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}

input.save,
button {
  font-size: 13px;
  padding: 4px;
}
input.save {
  font-size: 15px;
  font-weight: bold;
}
input.save,
button.next {
  float: right;
  width: 100px;
}
hr {
  clear: left;
  border: 0;
  border-bottom: 1px solid silver;
  padding: 0;
  margin: 0;
  padding-top: 8px;
  margin-bottom: 8px;
}
div.criteria {
  clear: left;
  padding: 16px;
  font-size: 14px;
}
ul.criteria,
ul.criteria > li {
  list-style: none;
  padding: 0;
  margin: 4px 19px;
  font-size: 13px;
  cursor: pointer;
}
ul.criteria > li:hover {
  background: #EEE;
}
ul.criteria > li:first-child {
  cursor: normal;
  color: #333;
}
ul.criteria > li:first-child strong span {
  color: #339;
}
ul.criteria > li > input {
  margin-left: -28px;
}
div.criteria input + ul.criteria {
  display: none;
}
div.criteria input:checked + ul.criteria {
  display: block;
}
.criteria strong {
  font-size: 15px;
}
div.terms-of-use {
  padding: 8px;
  border: 4px solid #EEE;
  background: #F5F5F5;
  height: 200px;
  overflow: auto;
  overflow-y: scroll;
  margin-bottom: 16px;
  font-weight: 400;
}
fieldset.disabled div.terms-of-use {
  div.terms-of-use;
  overflow: hidden;
}
input, textarea {
  width: 300px;
  margin: 2px 0;
  padding: 2px;
}
input[type=checkbox],
input[type=radio] {
  width: 24px;
}
html, body {
  padding: 0;
  margin: 0;
  background: #286868;
}
body > div {
  height: 100%;
  background: #FFF;
  margin: auto;
  max-width: 720px;
  padding: 16px;
  border-left: 8px solid #198A8A;
  border-right: 8px solid #198A8A;
}
fieldset {
  clear: all;
  margin-bottom: 12px;
  border: 4px solid #EEE;
}
fieldset > legend {
  font-size: 14px;
  color: #286868;
  background: #F5F5F5;
  font-weight: bold;
  border: 4px solid #EEE;
  padding: 4px;
}

fieldset#step-3 > div {
  margin-top: 16px;
}
fieldset#step-3 > div.activity {
  margin-top: 0;
}
fieldset#step-3 div.activity > select {
  width: 320px;
}
fieldset#step-3 div.description,
fieldset#step-3 div.lang {
  float: left;
}
fieldset#step-3 div.description {
  width: 324px;
}
fieldset#step-3 div.description > * {
  display: block;
}
fieldset#step-3 div.description > textarea {
  min-height: 120px;
}
fieldset#step-3 div.lang {
  padding-top: 26px;
}
fieldset#step-3 div.lang > p {
  font-size: 12px;
}
fieldset#step-3 div.lang > p > span {
  font-size: 12px;
  font-weight: bold;
}
fieldset#step-3 div.lang > ul,
fieldset#step-3 div.lang > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
}
fieldset.disabled #map {
  display: none;
}
fieldset.disabled,
fieldset.disabled * {
  background: #EEE;
  color: #999;
}
fieldset.disabled,
fieldset.disabled * {
  cursor: normal;
}
fieldset.category > i {
  margin-left: 8px;
}
/*
fieldset.address > div.fields > input, i {
  font-family: 'equolo';
  font-style: normal;
}
*/
fieldset.address > div {
  float: left;
}
fieldset.address div.map {
  margin-left: 30px;
  width: 300px;
}
fieldset.address div#map {
  height: 292px;
}
fieldset:last-child {
  margin-bottom: 128px;
}
#step-1 label, p, p a, div.terms-of-use ul li {
  font-weight: 400;
  font-size: 14px;
}
p strong {
  font-size: 13px;
}
div.terms-of-use ul li {
  margin: 8px 0;
}