.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-select {
  -webkit-user-select: none;
  -blink-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.t-all {
  -webkit-transition: all .3s ease-out;
  -khtml-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.hw {
  -webkit-transform: translate3d(0, 0, 0);
  -khtml-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.scroll {
  -webkit-overflow-scrolling: touch;
  -khtml-overflow-scrolling: touch;
  -blink-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow: auto;
}
.h-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}
.v-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
.no-scroll {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}